#buttons {
    right: 10px;
    position: fixed;
    border: solid black 1px;
    background-color: #BBB;
    padding: 5px;
    width: 300px;
}

.selectedString
{
	color:red;
}

.bs {
    background-color: lightgoldenrodyellow;
   
}

#buttons
{position: fixed;
top:50px;}


#slider {
  width: 500px;
}

.scontainer {
    margin-top: 100px;
}

.progress-bar{
	 

}

.sarticle{
padding-bottom: 50px;
}

.col-md-6 .progress{
	padding:none;
	float:none;}

.skipper{
	width:100%;
}

#bsl{
	float:left;
}