#top{
	height: 80px;
	background-color: #BBB;
}


.navbar-brand{
	padding:5px;
}
.right-nav
{
	float:right;
	right:0px;
}

a{
	text-decoration: none;
	color: #333;
}

#buttons {
	margin-top:60px;
    right: 10px;
    position: fixed;
    top:50px;
    background-color: #BBB;
    border-radius:5px;
    border: 1px solid #333;
    
}

.selectedString
{
	color:red;
}

.bs {
    background-color: #EC9C99;

}

 
.mainc
{
	margin-top:70px;
}

.scontainer {
    margin-top: 100px;
}

.progress-bar{
	 

}

.sarticle{
padding-bottom: 50px;
}

.col-sm-6 {
	padding:0px;
	float:none;}

.skipper{
	width:100%;
}

#bsl{
	float:left;
}

#sliderContainer
{
	padding-left: 10px;
	margin-top: 20px;
	height: 50px;

}

#slider {
	margin-top: 10px;
}

#ratingButton{
	margin-left: 20px;
	

}
 
p#bs1{
	    margin-left: 16px;

}

#logoimg{
	 
	width: 150px;

}